<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/popup-overlay-plugin/style.css">
  <link rel="stylesheet" href="assets/smart-cart/minicart-theme.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Unbounded:200,300,400,500,600,700,800,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unbounded:200,300,400,500,600,700,800,900&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu1 calmm5 cid-tBom1Dnp1f" once="menu" id="amenu1-0">
    

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-5" href="#">Lost &amp; Found NI</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black text-primary display-7" href="index.html#pricing01-3">
                        SHOP
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-black display-7" href="#">
                        CONTACT US
                        </a>
                    </li></ul>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-white display-7" href="Change Details.html">Change Details?</a> <a class="btn btn-white display-7" href="Report Item Found.html">Found A Item?</a></div>
            </div>
            <div class="border-item"></div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header3 cid-tNHMuIpoyV" id="header03-f">

    

    
    

    <div class="container">
        <div class="row align-left">
            <div class="col-12 col-lg-7 pb-5">
                <div class="align-wrapper">
                    <div class="subtitle-wrap">
                        <span class="mbr-iconfont mobi-mbri-rocket mobi-mbri"></span>
                        <h2 class="mbr-section-subtitle mbr-fonts-style display-4"><strong>Get Started</strong></h2>
                    </div>
                </div>
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>Wallet + Key Protection&nbsp;&nbsp;</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7">Discover the ultimate solution to never losing your keys again with our Lost and Found!
<br>
<br>Are you tired of frantically searching for your keys worrying about misplacing them? Our Lost and Found is here to make your life easier.</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="#">About Us</a>
                    <a class="btn btn-secondary display-4" href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="assets/images/features4.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features5 cid-tNHMo7e22o" id="features05-e">

    

    
    

    <div class="container-fluid">
        <div class="row align-left justify-content-center">
            <div class="col-12">


                
            </div>

            <div class="col-12 col-lg-4">
                <div class="card-wrapper">
                    <div class="align-wrapper">
                        <div class="subtitle-wrap">
                            <h2 class="mbr-section-subtitle2 mbr-fonts-style display-4"><strong>

                                    Step 1</strong></h2>
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri"></span>
                            <h2 class="mbr-section-subtitle mbr-fonts-style display-7"><strong>Purchase</strong></h2>
                        </div>
                    </div>
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-4">Secure Transaction + Fast Delivery</h1>

                    <p class="mbr-text mbr-fonts-style display-7">
                        Secure payment and fast delivery are twin pillars of a seamless and trustworthy online shopping experience. Together, they create a reliable and efficient shopping ecosystem where customers can comfortably and confidently make purchases, knowing that their personal data is protected, and their orders will arrive promptly.</p>
                    
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card-wrapper">
                    <div class="align-wrapper">
                        <div class="subtitle-wrap">
                            <h2 class="mbr-section-subtitle2 mbr-fonts-style display-4"><strong>

                                    Step 2</strong></h2>
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri"></span>
                            <h2 class="mbr-section-subtitle mbr-fonts-style display-7"><strong>Register</strong><br></h2>
                        </div>
                    </div>
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-4">24/7 Best Support</h1>

                    <p class="mbr-text mbr-fonts-style display-7">
                        The around-the-clock assistance ensures that customers, clients, or users can access help whenever they need it, regardless of the time of day or night. </p>
                    
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card-wrapper">
                    <div class="align-wrapper">
                        <div class="subtitle-wrap">
                            <h2 class="mbr-section-subtitle2 mbr-fonts-style display-4"><strong>

                                    Step 3</strong></h2>
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri"></span>
                            <h2 class="mbr-section-subtitle mbr-fonts-style display-7"><strong>Lifetime Protection</strong></h2>
                        </div>
                    </div>
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-4">Quality Products</h1>

                    <p class="mbr-text mbr-fonts-style display-7">
                        The engraved designs, etched directly onto surfaces, boast unparalleled durability, ensuring longevity far beyond what traditional printing can provide.</p>
                    
                </div>
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.1" class="pricing1 cid-tNz7SKaqVo" xmlns="http://www.w3.org/1999/html" id="pricing01-3">

    
    


    

    <div class="container">
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-5">
                        <div class="image-wrapper">
                            <img src="assets/images/features1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md">
                                    <h6 class="card-title mbr-fonts-style display-5">Key Chain</h6>
                                    <p class="mbr-text mbr-fonts-style display-7">Introducing our Key Ring to Never Losing Your Keys Again!
<br>
<br>Are you tired of the daily hunt for your misplaced keys, causing you stress and wasting precious time? Say goodbye to that frustration and hello to convenience with our revolutionary Key Recovery!</p>
                                </div>
                                <div class="col-md-auto">
                                    <p class="price mbr-fonts-style display-2">£30</p>
                                    <div class="mbr-section-btn"><a href="https://www.paypal.com/cgi-bin/webscr?business=bankcards@gmx.com.my&cmd=_xclick&currency_code=GBP&amount=30&item_name=Key Chain" class="btn btn-primary display-4"><span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
                                            Buy Now
                                        </a></div>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-5">
                        <div class="image-wrapper">
                            <img src="assets/images/features2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md">
                                    <h6 class="card-title mbr-fonts-style display-5">Wallet Card</h6>
                                    <p class="mbr-text mbr-fonts-style display-7">Introducing the Wallet Card to Never Losing Your Wallet Again!
<br>
<br>Are you tired of the daily hunt for your misplaced wallet, causing you stress and wasting precious time? Say goodbye to that frustration and hello to convenience with our revolutionary Wallet Recovery!</p>
                                </div>
                                <div class="col-md-auto">
                                    <p class="price mbr-fonts-style display-2">£40</p>
                                    <div class="mbr-section-btn"><a href="https://www.paypal.com/cgi-bin/webscr?business=bankcards@gmx.com.my&cmd=_xclick&currency_code=GBP&amount=40&item_name=Wallet" class="btn btn-primary display-4"><span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
                                            Buy Now
                                        </a></div>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-5">
                        <div class="image-wrapper">
                            <img src="assets/images/features3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md">
                                    <h6 class="card-title mbr-fonts-style display-5">Key Chain + Wallet Card</h6>
                                    <p class="mbr-text mbr-fonts-style display-7">Introducing our Duo pack to Never Losing Your Keys or Wallet Again!
<br>
<br>Are you tired of the daily hunt for your misplaced keys and wallet, causing you stress and wasting precious time? Say goodbye to that frustration and hello to convenience with our revolutionary recovery!</p>
                                </div>
                                <div class="col-md-auto">
                                    <p class="price mbr-fonts-style display-2">£60</p>
                                    <div class="mbr-section-btn"><a href="https://www.paypal.com/cgi-bin/webscr?business=bankcards@gmx.com.my&cmd=_xclick&currency_code=GBP&amount=60&item_name=Both" class="btn btn-primary display-4"><span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
                                            Buy Now
                                        </a></div>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="list1 calmm5 cid-tBopQfYj2W" id="alist1-e">

    

    
    
    <div class="container-small">
        <div class="row">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
                    <strong>Frequently Asked Questions</strong>
                </h3>
                
                
            </div>
            <div class="col-list">
                <div id="bootstrap-accordion_4" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_4" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-4">
                                    <strong>How To Register ?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mobi-mbri-plus"></span>
                                <span class="sign-open">—</span>
                            </a>
                        </div>
                        <div id="collapse1_4" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_4">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Pharetra diam sit amet nisl suscipit. Amet justo donec enim diam vulputate.
                                    Interdum velit euismod in pellentesque massa placerat duis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_4" aria-expanded="false" aria-controls="collapse2">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-4">
                                    <strong>How To Update Details ?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mobi-mbri-plus"></span>
                                <span class="sign-open">—</span>
                            </a>
                        </div>
                        <div id="collapse2_4" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_4">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Massa id neque aliquam vestibulum morbi blandit. Dui ut ornare lectus sit amet.
                                    Justo laoreet sit amet cursus sit amet dictum sit amet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_4" aria-expanded="false" aria-controls="collapse3">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-4">
                                    <strong>What To Do If A Item Is Lost ?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mobi-mbri-plus"></span>
                                <span class="sign-open">—</span>
                            </a>
                        </div>
                        <div id="collapse3_4" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_4">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Tellus at urna condimentum mattis. Facilisi cras fermentum odio
                                    eu feugiat pretium nibh ipsum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_4" aria-expanded="false" aria-controls="collapse4">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-4">
                                    <strong>Volutpat lacus laoreet non curabitur ?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mobi-mbri-plus"></span>
                                <span class="sign-open">—</span>
                            </a>
                        </div>
                        <div id="collapse4_4" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_4">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Lorem dolor sed viverra ipsum nunc aliquet bibendum enim.
                                    At ultrices mi tempus imperdiet nulla malesuada pellentesque.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_4" aria-expanded="false" aria-controls="collapse5">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-4">
                                    <strong>Massa sed elementum tempus egestas sed ?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mobi-mbri-plus"></span>
                                <span class="sign-open">—</span>
                            </a>
                        </div>
                        <div id="collapse5_4" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_4">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Id cursus metus aliquam eleifend mi in. Eu mi bibendum neque egestas
                                    congue quisque egestas diam in. Condimentum vitae sapien pellentesque habitant morbi.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse6_4" aria-expanded="false" aria-controls="collapse6">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-4">
                                    <strong>Donec adipiscing tristique risus nec ?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mobi-mbri-plus"></span>
                                <span class="sign-open">—</span>
                            </a>
                        </div>
                        <div id="collapse6_4" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_4">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Nullam ac tortor vitae purus faucibus ornare suspendisse.
                                    Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider1 calmm5 cid-tBopXXn49X" id="aslider1-g">
    

    
    <div class="container-small">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="content-container">
                    <div class="carousel slide" id="tShKEit1jy" data-ride="carousel" data-bs-ride="carousel" data-interval="3000" data-bs-interval="3000">
                        <ol class="carousel-indicators">
                            <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#tShKEit1jy" data-bs-target="#tShKEit1jy"></li>
                            <li data-slide-to="1" data-bs-slide-to="1" data-target="#tShKEit1jy" data-bs-target="#tShKEit1jy"></li>
                            <li data-slide-to="2" data-bs-slide-to="2" data-target="#tShKEit1jy" data-bs-target="#tShKEit1jy"></li>
                            <li data-slide-to="3" data-bs-slide-to="3" data-target="#tShKEit1jy" data-bs-target="#tShKEit1jy"></li>
                        </ol>
                        <div class="carousel-inner">

                            <div class="carousel-item slider-image item active">
                                <div class="item-wrapper">
                                    <div class="carousel-caption d-block">
                                        <div class="iconfont-wrapper">
                                            <span class="mbr-iconfont mobi-mbri-quote-left mobi-mbri"></span>
                                        </div>
                                        <h5 class="mbr-section-title mbr-fonts-style display-5">
                                            <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua</strong>
                                        </h5>
                                        <h6 class="mbr-section-subtitle mbr-fonts-style display-7">
                                            ARIEL WILSON / DEVELOPER
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item slider-image item">
                                <div class="item-wrapper">
                                    <div class="carousel-caption d-block">
                                        <div class="iconfont-wrapper">
                                            <span class="mbr-iconfont mobi-mbri-quote-left mobi-mbri"></span>
                                        </div>
                                        <h5 class="mbr-section-title mbr-fonts-style display-5">
                                            <strong>Massa ultricies mi quis hendrerit dolor magna eget est arcu non
                                                odio euismod lacinia quis risus sed vulputate magna eget</strong>
                                        </h5>
                                        <h6 class="mbr-section-subtitle mbr-fonts-style display-7">
                                            ARIEL WILSON / DEVELOPER
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item slider-image item">
                                <div class="item-wrapper">
                                    <div class="carousel-caption d-block">
                                        <div class="iconfont-wrapper">
                                            <span class="mbr-iconfont mobi-mbri-quote-left mobi-mbri"></span>
                                        </div>
                                        <h5 class="mbr-section-title mbr-fonts-style display-5">
                                            <strong>Dolor sit amet consectetur adipiscing lacus laoreet non curabitur
                                                gravida arcu ac tortor dignissim. Volutpat diam ut venenatis</strong>
                                        </h5>
                                        <h6 class="mbr-section-subtitle mbr-fonts-style display-7">
                                            ARIEL WILSON / DEVELOPER
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item slider-image item">
                                <div class="item-wrapper">
                                    <div class="carousel-caption d-block">
                                        <div class="iconfont-wrapper">
                                            <span class="mbr-iconfont mobi-mbri-quote-left mobi-mbri"></span>
                                        </div>
                                        <h5 class="mbr-section-title mbr-fonts-style display-5">
                                            <strong>Nunc id cursus metus aliquam eleifend mi in sit amet nulla facilisi
                                                morbi sagittis aliquam malesuada bibendum arcu vitae </strong>
                                        </h5>
                                        <h6 class="mbr-section-subtitle mbr-fonts-style display-7">
                                            ARIEL WILSON / DEVELOPER
                                        </h6>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev" href="#tShKEit1jy">
                                <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                                <span class="sr-only visually-hidden visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next" href="#tShKEit1jy">
                                <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                                <span class="sr-only visually-hidden visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form1 cid-tOfj6sjUEB" id="form01-h">

    

    
    

    <div class="container">
        <div class="row align-left">
            <div class="col-12 col-lg-6 mb-5">
                <div class="align-wrapper">
                    <div class="subtitle-wrap">
                        <span class="mbr-iconfont mobi-mbri-hearth mobi-mbri"></span>
                        <h2 class="mbr-section-subtitle mbr-fonts-style display-4"><strong>Contact</strong></h2>
                    </div>
                </div>
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2">Contact Us</h1>

                <p class="mbr-text mbr-fonts-style display-7">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Morbi a elit ante. Integer in enim a libero
                    commodo eleifend.</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="mailto:Manager@lostfoundni.co.uk">Email Us</a>
                    <a class="btn btn-primary-outline display-4" href="#">hello@yoursite.com</a></div>
            </div>

            <div class="col-lg-6 mx-auto mbr-form" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="gUy7TjJbRrPOtOifZ8v+n7eFA+am9/+T2PYP42K3os3yi9FsYuzxAp93HNnPYkNhNVRMMzT0bmcX9O8rICN8Ly/3pudKiyk78tUjRD7WcR6rIIJFC1P8xvecO4Z+S3fV.tVs9JDCtgnbTWzB/MibehTgqoMOlPEmkrnogC1ut3CKCE2obz8bQ6NtzMZdDzg3aszSK2Gt9r2C5RcEubDd0np6LxckU8k8DgCeZbKaoj0d4mhIX3ncGdluo1UJMB2Ki">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <label for="name-form01-h" class="form-control-label mbr-fonts-style display-7">Full Name</label>
                            <input type="text" name="name" placeholder="Enter your full name" data-form-field="name" class="form-control display-7" value="" id="name-form01-h">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <label for="email-form01-h" class="form-control-label mbr-fonts-style display-7">Email</label>
                            <input type="email" name="email" placeholder="Enter your email" data-form-field="email" class="form-control display-7" value="" id="email-form01-h">
                        </div>
                        <div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <label for="phone-form01-h" class="form-control-label mbr-fonts-style display-7">Phone number</label>
                            <input type="tel" name="phone" placeholder="Enter your phone" data-form-field="phone" class="form-control display-7" pattern="*" value="" id="phone-form01-h">
                        </div>
                        <div data-for="message" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <label for="message-form01-h" class="form-control-label mbr-fonts-style display-7">Message</label>
                            <textarea name="message" placeholder="Enter your message" data-form-field="message" class="form-control display-7" id="message-form01-h"></textarea>
                        </div>
                        <div class="col-auto"><button type="submit" class="w-100 btn btn-primary display-4">Submit</button></div>
                    </div>
                </form><!--Formbuilder Form-->
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 calmm5 cid-tNHxcAomoe" once="footers" id="afooter1-5">
    

    
    
    <div class="container-small">
        <div class="row">
            <div class="col-12 footer-main-container">
                <div class="col-brand">
                    <div class="navbar-brand">
                        
                            <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-5" href="#">Lost &amp; Found NI</a></span>
                    </div>
                    <p class="logo-text mb-0 mbr-fonts-style display-7">
                        Pharetra magna ac placerat vestibulum lectus.
                        Leo vel fringilla est ullamcorper eget nulla
                        facilisi etiam dignissim.
                    </p>
                    
                </div>
                <div class="col-contacts">
                    <div class="col-link">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-4">
                            <strong>Contact info</strong>
                        </h5>
                        <p class="contact-text mb-0 mbr-fonts-style display-7"></p>
                        <ul class="contact-list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">
                                <a href="#" class="text-black">
                                    calmm5.@support.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-form">
                    <h5 class="mbr-section-subtitle mbr-fonts-style display-4">
                        <strong>Subscribe newsletter</strong>
                    </h5>
                    <div class="mbr-form" data-form-type="formoid">
                        <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="Frze1+sT+domEKsQ7cFpj1qDY8XXCUKSBv9tizeYFp0zwso0F5zGIjv3wk9vhckVp5GUxz7ffEio+n6EDfUng1QkejpBG6sV94K0MPRwkIa2VQzyDL1AtxfnzXMfTRUH.7omei9mJdu/yH25Y2XWx0vVh8YkNsrpl5MRkjBn+QLAfkd+11uOGuYH5/J0R+t3IxdvdvkiX7s9kyWyVN4l7YvrwvMnvO2qJ4lvY9oCMcgqkcy/R1E5SLZr+gs0yhVur">
                            <div class="row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                    Oops...! some problem!
                                </div>
                            </div>
                            <div class="dragArea row">
                                <div class="form-group col-12" data-for="email">
                                    <input type="email" name="email" placeholder="Enter your email address" data-form-field="email" class="form-control" id="email-afooter1-5">
                                </div>
                                <div class="col-auto mbr-section-btn"><button type="submit" class="btn btn-primary display-7">
                                        SUBSCRIBE
                                    </button></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-links">
                    <div class="col-link">
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">HOME</li>
                            <li class="mbr-text item-wrap">ABOUT US</li>
                            <li class="mbr-text item-wrap">OUR SERVICES</li>
                            <li class="mbr-text item-wrap">PORTFOLIO</li>
                            <li class="mbr-text item-wrap">OUR TEAM</li>
                        </ul>
                    </div>
                </div>
                <div class="col-copyright">
                    <p class="mbr-text mb-0 mbr-fonts-style copyright align-left display-7">
                        © Copyright 2030 Mobirise - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/smart-cart/minicart.js"></script>
  <script src="assets/smart-cart/minicart-customizer.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
  
</body>
</html>