<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>New Customer</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/popup-overlay-plugin/style.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Unbounded:200,300,400,500,600,700,800,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unbounded:200,300,400,500,600,700,800,900&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu1 calmm5 cid-tBom1Dnp1f" once="menu" id="amenu1-i">
    

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-5" href="#">Lost &amp; Found NI</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black text-primary display-7" href="index.html#pricing01-3">
                        SHOP
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-black display-7" href="#">
                        CONTACT US
                        </a>
                    </li></ul>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-white display-7" href="Change Details.html">Change Details?</a> <a class="btn btn-white display-7" href="Report Item Found.html">Found A Item?</a></div>
            </div>
            <div class="border-item"></div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="form7 cid-tOj4UzDwIJ" id="form7-l">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Register Device</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="buqah2Q4/DZOGFV/Ja88rp2Ky4IOabgbO6z+4DnYFYjQzu0+8X0Dx8er/uVzOITVNTPmtx6PIQ8weOQrrSXQU73tihvH3kx0D9t2OWV8jPmpNDuOITep4frT24//Z6wS.doXeug3jPMe0i6A1Xsj/EAJqsbsMjLDFCEVW9efan4hvFbp3rrqQzPDK9xtkaGvJ72Tf5rt1Bh2JtYhqSl9CSzW6IzfAc9MTMGNSksRC9CZ7nHrG4jx4/WcPvY1MiGpZ">
<div class="">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"> Oops...! some problem! </div>
</div>
<div class="dragArea row">
<div class="col">
<p class="mbr-text mbr-fonts-style align-center mb-4 display-7">Lets Get Your New Device Registered!</p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="Phone Number">
<input type="tel" name="Phone Number" placeholder="Phone Number" data-form-field="Phone Number" class="form-control display-7" value="" id="Phone Number-form7-l">
</div>
<div data-for="Alternative Phone Number" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="tel" name="Alternative Phone Number" placeholder="Alternative Phone Number" data-form-field="Alternative Phone Number" class="form-control display-7" value="" id="Alternative Phone Number-form7-l">
</div>
<div data-for="Email" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
<input type="email" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="Email-form7-l">
</div>
<div data-for="Alternative Email" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="email" name="Alternative Email" placeholder="Alternative Email" data-form-field="Alternative Email" class="form-control display-7" value="" id="Alternative Email-form7-l">
</div>
<div data-for="number" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="number" name="number" placeholder="Registration Number" max="100" min="0" step="1" data-form-field="number" class="form-control display-7" value="" id="number-form7-l">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="How Did You Find Us?">
<label for="How Did You Find Us?-form7-l" class="form-control-label mbr-fonts-style display-7">How Did You Find Us?</label>
<select name="How Did You Find Us?" data-form-field="How Did You Find Us?" class="form-control form-select display-7" required="required" id="How Did You Find Us?-form7-l">
<option value="YouTube">YouTube</option>
<option value="Friend">Friend</option>
<option value="Family">Family</option>
<option value="Google">Google</option>
<option value="Facebook">Facebook</option>
<option value="X">X</option>
<option value="Linkedin">Linkedin</option>
</select>
</div>
<div class="col-auto mbr-section-btn align-center"><button type="submit" class="w-100 w-100 w-100 w-100 btn btn-primary display-4">Submit</button></div>
</div>
</form><!--Formbuilder Form-->
</div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 calmm5 cid-tNHxcAomoe" once="footers" id="afooter1-j">
    

    
    
    <div class="container-small">
        <div class="row">
            <div class="col-12 footer-main-container">
                <div class="col-brand">
                    <div class="navbar-brand">
                        
                            <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-5" href="#">Lost &amp; Found NI</a></span>
                    </div>
                    <p class="logo-text mb-0 mbr-fonts-style display-7">
                        Pharetra magna ac placerat vestibulum lectus.
                        Leo vel fringilla est ullamcorper eget nulla
                        facilisi etiam dignissim.
                    </p>
                    
                </div>
                <div class="col-contacts">
                    <div class="col-link">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-4">
                            <strong>Contact info</strong>
                        </h5>
                        <p class="contact-text mb-0 mbr-fonts-style display-7"></p>
                        <ul class="contact-list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">
                                <a href="#" class="text-black">
                                    calmm5.@support.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-form">
                    <h5 class="mbr-section-subtitle mbr-fonts-style display-4">
                        <strong>Subscribe newsletter</strong>
                    </h5>
                    <div class="mbr-form" data-form-type="formoid">
                        <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="U66E5V1cWoGnPGHeYiEufhe/HxDRCDvkFUfTBfnadn5M6rlIWE2Dpdp0GXCN/Kx6pdUcdfTVgBrQVnKQVuRAqsNTiFn7ys+jhSez/39cYxaDchX4Fveg7eOAsu2XHOTG.JD8PqXJytBCujb9w4rDzR21GpQwnZ1O74kP0riXMUpyLe3cdF5RR8Yun2wV003sJ4GQUxf26DgJT9feLSbOrgzNZwHUuObX8p75y6603OmNg5ac2OBaFx6izxBaKUj1P">
                            <div class="row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                    Oops...! some problem!
                                </div>
                            </div>
                            <div class="dragArea row">
                                <div class="form-group col-12" data-for="email">
                                    <input type="email" name="email" placeholder="Enter your email address" data-form-field="email" class="form-control" id="email-afooter1-j">
                                </div>
                                <div class="col-auto mbr-section-btn"><button type="submit" class="btn btn-primary display-7">
                                        SUBSCRIBE
                                    </button></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-links">
                    <div class="col-link">
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">HOME</li>
                            <li class="mbr-text item-wrap">ABOUT US</li>
                            <li class="mbr-text item-wrap">OUR SERVICES</li>
                            <li class="mbr-text item-wrap">PORTFOLIO</li>
                            <li class="mbr-text item-wrap">OUR TEAM</li>
                        </ul>
                    </div>
                </div>
                <div class="col-copyright">
                    <p class="mbr-text mb-0 mbr-fonts-style copyright align-left display-7">
                        © Copyright 2030 Mobirise - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
      <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
  
</body>
</html>