<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Home">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/smart-cart/minicart-theme.css">
  <link rel="stylesheet" href="assets/popup-overlay-plugin/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="header8 cid-twytRd0HW3 mbr-fullscreen" id="header8-0">
    

    
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-white mbr-fonts-style display-1"><strong>Apologies</strong></h3>
                <p class="mbr-text mbr-fonts-style mbr-white mb-4 display-1">Just Checking That You Had Been Invited<br><a href="http://rvydamrbqx4ujkeabpf628qzfpvxjq9btqwjzpht9mkrh8bngb5gqwnq3ypry3z.seriouslygofuckyourself.com/g9pt6ab8737qktx86adarm93bghysgjva7w4zsddarnevkg8t5drgzjxatbpwmff2f8cz6r6y3hd4whh4rwgmzmehwb62hcrs84r8r942qwt9943mbhmv2dpbg5xw4qy7z3ufb8smes2nm4dgb4hp86xhe286z54x7pevusk37tagugdnhk26r6j39smfv2b7k3x6djw93f99hfe736y7zjy3amkfubp7h8t9nagq2tc8qzdq2dfphtkar.html" class="text-danger text-primary" style="font-weight: bold;">Visit Website Now &gt;&gt;</a></p>
            </div>
        </div>
    </div>
</section>


<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/smart-cart/minicart.js"></script>
  <script src="assets/smart-cart/minicart-customizer.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  
</body>
</html>